* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-col,
.right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100vh;
  position: relative;
  background-color: #1c1c27;
}

.logo {
  display: block;
  width: 80px;
  margin-top: 30px;
  margin-left: 120px;
}

.content {
  max-width: 500px;
  position: absolute;
  top: 35%;
  left: 120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 5px;
  margin: 25px 0;
}

.content p {
  color: #777;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 30px;
}

input[type=text] {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #303030;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(43, 39, 39, 0.5);
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-bottom: 50px;
}

input[type=text]:focus {
  width: 100%;
}

.buttongh {
  width: 70px;
  border: none;
  border-radius: 10px;
  background: #b620ae;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
          box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
  padding: 25px 0;
  margin-right: 50px;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.buttoncp {
  width: 70px;
  border: none;
  border-radius: 10px;
  background: #409ec4;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
          box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
  padding: 25px 0;
  margin-right: 50px;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.buttonec {
  width: 70px;
  border: none;
  border-radius: 10px;
  background: #5a20b6;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
          box-shadow: 0px 5px 5px 1px rgba(219, 219, 219, 0.5);
  padding: 25px 0;
  margin-right: 50px;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider img {
  width: 100%;
}

.slider-content {
  width: 100%;
  height: 97%;
  background: #ffffff;
  margin-top: 5px;
  padding-top: 40px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.slider-content h2 {
  font-size: 26px;
  font-weight: 100;
  color: black;
}

.slider-content h3 {
  font-size: 18px;
  font-weight: 100;
  color: black;
  margin-bottom: 10px;
}

.slider-content p {
  color: #7c7c7c;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.chip {
  display: wrap;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 50px;
  float: right;
  margin-right: 50px;
}

.chip img {
  float: right;
  margin: 0 10px 20 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

hr {
  border: none;
  width: 270px;
  height: 1px;
  background: #000000;
  margin: 20px 0 30px;
}

.controller {
  width: 120px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controller img {
  width: 45px;
  cursor: pointer;
}

.vertical-line {
  width: 2px;
  height: 30px;
  background: #000000;
}

@media only screen and (max-width: 800px) {
  .logo {
    margin: 30px auto;
  }
  .left-col,
  .right-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content {
    left: 0;
    padding: 20px;
    text-align: center;
  }
  .content h1 {
    font-size: 34px;
    line-height: 38px;
  }
  .slider {
    height: auto;
  }
  .slider-content {
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */